<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self_Testing</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">-->
  <link rel="stylesheet" href="static/css/amazeui.min.css">
  <link rel="stylesheet" href="static/css/app.css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>-->
    <!--<link href="static/css/justified-nav.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<style type="text/css">.form-group1,.form-group2 {float: left;}.clearfix{clear:both}</style>-->
    <style type="text/css">
    a:link { 
color:#FFFFFF; 
text-decoration:none;
} 
a:visited { 
color:#FFFFFF; 
text-decoration:none; 
} 
a:hover { 
color:#000000; 
text-decoration:none; 
} 
a:active { 
color:#FFFFFF; 
text-decoration:none; 
} 
    </style>
  </head>
  <!-- <body style=background-image:url("/static/pic/sea.jpg")> -->
  <!-- <body style="background-image:url('/static/pic/buou.jpg');"> -->
  <body style="background-image:url('/static/pic/buou.jpg'); background-position: bottom right; background-size:100%">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
<!--<![endif]-->
<script src="static/js/amazeui.min.js"></script>

    {% if uid %}
        <div style="margin-right:20px;float: right;"><label>{{uid}}&nbsp;</label><a href="/logout">Logout</a></div>
    {% else %}
        <div style="margin-right:20px;float: right;"><label>{{uid}}&nbsp;</label><a href="https://login.sogou-inc.com/?appid=1544&sso_redirect=http://selftesting.web.sjs.ted/&targetUrl=">Login</a></div>
    {% endif %}
        <div class="container">
    <div class="row">
    <h1><font color="white">Self_Testing</font></h1>
    <div class="col-md-4">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr><td><font size="6" color="white"><a href="https://docs.qq.com/sheet/DRkJFYk5nZ1N2c1Zx?tab=tjzh50">在线提测文档</a></font></td></tr>
            <tr><td><font size="6" color="white"><a href="http://itest.sogou-inc.com/#!/committest">Itest提测地址</a></font></td></tr>
            <tr><td><font size="6" color="white"><a href="/testwapsh">Test_Wap_SH</a></font></td></tr>
            <tr><td><font size="6" color="white"><a href="/testcache">Test_Web_Cache</a></font></td></tr>
            <tr><td><font size="6" color="white"><a href="http://automission.web.tc.ted/autoqps">Test_Web_Query</a></font></td></tr>
            <tr><td></td></tr>
            </tbody>
        </table>
    </div>
    
    </div><br>
    <div class="col-md-8" style="background-color: #8A2BE2;box-shadow: inset 1px -1px 2px , inset -1px 1px 1px #888;opacity:0.5;">
    <br>
    <br>
       <font size="6" color="white">自测说明：</font><br><br>
        <font size="3" color="white">
No.1 在线提测文档，提交任务，从任务1开始，最终由负责人进行汇总，填写完整的自测结果<br>
No.2 允许提测的范围（快速测试）： <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;代码改动较小<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不涉及性能，性能波动在一定的范围:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;searchhub：avg —— avg_cost 2%、 p99 5%<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cache：avg、queryperfill、queryfill —— avg_cost 2%、 p99 5% <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;query：qps 1% <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            不涉及缓存<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            无重大功能改动<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            没有上下游模块功能的耦合，接口的变动<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            不涉及基础功能和组件修改<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            不涉及多个模块<br>



        </font>
        <br><br>
    <br>
    </div>
    </div>
    </body>
</html>
