<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="refresh" content="10"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TestCache</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <!--<link href="static/css/justified-nav.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<style type="text/css">.form-group1,.form-group2 {float: left;}.clearfix{clear:both}</style>-->
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/amazeui.min.js"></script>
    {% if uid %}
        <div style="margin-right:20px;float: right;"><label>{{uid}}&nbsp;</label><a href="/logout">Logout</a></div>
    {% else %}
        <div style="margin-right:20px;float: right;"><label>{{uid}}&nbsp;</label><a href="https://login.sogou-inc.com/?appid=1544&sso_redirect=http://selftesting.web.sjs.ted/&targetUrl=">Login</a></div>
    {% endif %}
        <div class="container">
    <h1>TestCache</h1>

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
<ul class="nav nav-tabs nav-justified">
    <li><a href="/testcache">Get Start</a></li>
    <li class="active"><a href="#">Task Queue</a></li>
</ul>
<br>
<br>
<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Create time</th>
        <th>Start time</th>
        <th>Status</th>
        <th>Test Item</th>
        <th width="100px">User</th>
        <th>Remarks</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for item in task_list %}
    <tr>
        <th>{{ item.id }}</th>
        <th>{{ item.create_time }}</th>
        <th>{{ item.start_time }}</th>
        <th><a href="/TestSummary/task_detail?id={{ item.id }}">
        {% ifequal item.status 0 %}<font color="gray">Waiting</font>{% endifequal %}
        {% ifequal item.status 1 %}<font color="cream">Ready</font>{% endifequal %}
        {% ifequal item.status 2 %}<font color="green">Running</font>{% endifequal %}
        {% ifequal item.status 3 %}<font color="red">Error</font>{% endifequal %}
        {% ifequal item.status 4 %}<font color="blue">Finished</font>{% endifequal %}
        {% ifequal item.status 5 %}<font color="orange">Canceled</font>{% endifequal %}
        {% ifequal item.status 6 %}<font color="orange">Canceling</font>{% endifequal %}
        {% ifequal item.status 7 %}<font color="green">PvsChecking</font>{% endifequal %}
        </a>
        </th>
        <th>{{ item.testitem }}</th>
        <th width="100">{{ item.user }}</th>
        <th>{{ item.remarks }}</th>
    </tr>
    {% endfor %}
</tbody>
<table>
<!-- <ul class="pagination"> -->
    <!-- {% ifequal page_list|length 1 %} -->
    <!-- {% else %} -->
    <!-- {% for i in page_list %} -->
    <!-- {% ifequal i page %}<li class="active"><a>{{ i }}</a></li> -->
    <!-- {% else %}<li><a href="/testcache/task_queue?page={{ i }}">{{ i }}</a></li> -->
    <!-- {% endifequal %} -->
    <!-- {% endfor %} -->
    <!-- {% endifequal %} -->
<!-- </ul> -->
</div>

  </body>
</html>
