<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- {% ifequal task_detail.status 0 %}<meta http-equiv="refresh" content="5">{% endifequal %} -->
    <!-- {% ifequal task_detail.status 1 %}<meta http-equiv="refresh" content="5">{% endifequal %} -->
    <!--{% ifequal task_detail.status 2 %}<meta http-equiv="refresh" content="5">{% endifequal %} -->
<!--    {% ifequal task_detail.status 7 %}<meta http-equiv="refresh" content="5">{% endifequal %} -->
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/amazeui.min.css">
  <link rel="stylesheet" href="/static/css/app.css">
    <!--<link href="static/css/justified-nav.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<style type="text/css">.form-group1,.form-group2 {float: left;}.clearfix{clear:both}</style>-->
  </head>
  <body>

        <script>
            function CheckBoxChs(){
        //        alert("aaa");
                var cbs = document.getElementsByClassName("checkbox");
        //        alert("bbb");
                var checkNum = 0;
                for (var i=0; i<cbs.length; i++) {
                    if (cbs[i].checked){
                        checkNum++;
                    }
                }
                alert("slect num= " + checkNum);
                if (checkNum ==0){
                    alert("请至少选择一项")
                    return false;
                }
            }
        </script>

    <title>TestSummary</title>
<script src="/static/js/amazeui.min.js"></script>
    {% if uid %}
        <div style="margin-right:20px;float: right;"><label>{{uid}}&nbsp;</label><a href="/logout">Logout</a></div>
    {% else %}
        <div style="margin-right:20px;float: right;"><label>{{uid}}&nbsp;</label><a href="https://login.sogou-inc.com/?appid=1544&sso_redirect=http://selftesting.web.sjs.ted/&targetUrl=">Login</a></div>
    {% endif %}
<br>
<a href="/TestSummary/task_queue">&lt;&lt;&nbsp;back to task queue</a>
<br>
<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Create time</th>
        <th>Start time</th>
        <th>Running IP</th>
        <th>Status</th>
        <th>TestItem</th>
        <th>User</th>
        <th>Remarks</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr>
        <th>{{ task_detail.task_id }}</th>
        <th>{{ task_detail.create_time }}</th>
        <th>{{ task_detail.start_time }}</th>
        <th>{{ task_detail.runningIP }}</th>
        {% ifequal task_detail.status 0 %}<th><font color="gray">Waiting</font></th>{% endifequal %}
        {% ifequal task_detail.status 1 %}<th><font color="cream">Ready</font></th>{% endifequal %}
        {% ifequal task_detail.status 2 %}<th><font color="green">Running</font></th>{% endifequal %}
        {% ifequal task_detail.status 3 %}<th><font color="red">Error</font></th>{% endifequal %}
        {% ifequal task_detail.status 4 %}<th><font color="blue">Finished</font></th>{% endifequal %}
        {% ifequal task_detail.status 5 %}<th><font color="orange">Canceled</font></th>{% endifequal %}
        {% ifequal task_detail.status 6 %}<th><font color="orange">Canceling</font></th>{% endifequal %}
        {% ifequal task_detail.status 7 %}<th><font color="green">PvsChecking</font></th>{% endifequal %}
        <th>{% for item in task_detail.testitem %} {{ item }} {% endfor %}</th>
        <th>{{ task_detail.user }}</th>
        <th>{{ task_detail.remarks }}</th>
{% ifequal task_detail.status 2 %}
        <th>
 <script type="text/javascript">
function get(){
    $.get('/TestSummary/set_cancel?id={{ task_detail.task_id }}');
}
</script>
<button onclick="get()" type="button" name="cancel_but" id="fat-btn" class="btn btn-primary" data-loading-text="Canceling..." data-complete-text="Canceled" type="button"> Cancel
</button>
<script>
    $(function() {
        $('.btn').click(function () {
  var $btn = $(this)
  $btn.button('loading');
    setTimeout(function(){
      $btn.button('complete'); 
  }, 2000);
});
    });  

    </script>
        </th>
{% endifequal %}
    </tr>
</tbody>


<table>
{% ifequal task_detail.status 4 %}
<button
  type="button"
  class="am-btn am-btn-success"
    data-toggle="modal"
  id="doc-prompt-toggle"
    data-target="#myModal">
  Run Again
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
        <form action="re_add" method="post">
        {% csrf_token %}
            <div class="modal-body">
    <input type="text" readonly name="mission_id" width="4" value="{{task_detail.task_id}}"><br>
<!--    <b>Test Item:</b>&nbsp; -->
<!--    <input id="qps-check-box" type="checkbox" name="cost" value="1">cache_cost -->
                            <b style="clear:both">Test Item:</b>&nbsp;
                         <div>
                            <div class="checkbox" style="float:left; margin-top: 10px;">
                              <label><input class="checkbox" id="cccbox2" type="checkbox" {% ifequal test_item_mark.performance 1 %}checked{% endifequal %} name="performance" value="1">性能对比<label>
                            </div>
                            <div class="checkbox" style="float:left; margin-top: 10px;">
                              <label><input class="checkbox" id="cccbox2" type="checkbox" {% ifequal test_item_mark.gcov 1 %}checked{% endifequal %} name="gcov" value="1">代码覆盖率<label>
                            </div>
                            <div class="checkbox" style="float:left; margin-top: 10px;">
                              <label><input class="checkbox" id="cccbox2" type="checkbox" {% ifequal test_item_mark.difftest 1 %}checked{% endifequal %} name="difftest" value="1">DIFF对比</label>
                            </div>
                          </div>
                             <br/>

    <br>

        <label for="remarks">remarks<font color="red">*</font>:&nbsp;&nbsp;&nbsp;</label>
        <textarea required class="form-control" name="remarks" id="remarks" rows="1" cols="80" placeholder="备注，如修改功能点 or 哪个测试任务" ></textarea>
        <br/>

        <label for="testsvn">test svn:</label>&nbsp;&nbsp;&nbsp;
                <textarea class="form-control" name="test_svn" id="test_svn" rows="10" cols="120" readonly >{% for line in task_detail.testsvn %}{{ line }}
{% endfor %}</textarea><br/>
            {% ifnotequal task_detail.onlinesvn|length 1 %}
        <label for="testsvn">base svn:</label>&nbsp;&nbsp;&nbsp;
                <textarea class="form-control" name="base_svn" id="test_svn" rows="10" cols="120" readonly >{% for line in task_detail.onlinesvn %}{{ line }}
{% endfor %}</textarea><br/>
            {% endifnotequal %}
<!--            {% ifnotequal task_detail.newdatapath|length 0 %} -->

            <label for="testsvn">newconf:</label>&nbsp;&nbsp;&nbsp;
            <input readonly type="text" name="newconfip" class="form-control" value="{{task_detail.newconfip}}">
            <input readonly type="text" name="newconfuser" class="form-control" value="{{task_detail.newconfuser}}">
            <input readonly type="text" name="newconfpassw" class="form-control" value="{{task_detail.newconfpassw}}">
            <input readonly type="text" name="newconfpath" class="form-control" value="{{task_detail.newconfpath}}">

            <br/>

            <label for="testsvn">newdata:</label>&nbsp;&nbsp;&nbsp;
            <input readonly type="text" name="newdataip" class="form-control" value="{{task_detail.newdataip}}">
            <input readonly type="text" name="newdatauser" class="form-control" value="{{task_detail.newdatauser}}">
            <input readonly type="text" name="newdatapassw" class="form-control" value="{{task_detail.newdatapassw}}">
            <input readonly type="text" name="newdatapath" class="form-control" value="{{task_detail.newdatapath}}">

            <br/>



<!--            {% endifnotequal %}  -->
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="submit" class="btn btn-primary" onclick="return CheckBoxChs()">
                    开始
                </button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->



</div>
{% endifequal %}
<div name="result" style="padding: 5px 10px 60px 60px">
    {% ifequal test_item_mark.performance 1 %}
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Performance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="200">Test cost
                </td>
                <td width="200">Base cost</td>
            </tr>
            <tr>
                <td>{% for line in test_cost %}{{ line }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
                <td>{% for line in base_cost %}{{ line }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
            </tr>
        </tbody>
        </table>
    {% endifequal %}
    
    {% ifequal test_item_mark.difftest 1 %}    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Summary Diff 对比</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <label>diff结果个数:&nbsp;&nbsp;</label>{{ diff_res_num }}
                    </br>
                    <label>diff详情页:&nbsp;&nbsp;</label>                    
                    <a href="/TestSummary/diff_detail?id={{ task_detail.task_id }}" target="_blank">diff详情页</a>    
                                         
                </td>
            </tbody>
        </table>
    {% endifequal %} 

    {% ifequal test_item_mark.gcov 1 %}  
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>代码覆盖率</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <a href="{{ result_gcov }}" target="_blank">{{ result_gcov }}</a>
                </td>
            </tbody>
        </table>
    {% endifequal %} 
    
    {% ifequal test_item_mark.cppcheck 1 %}  
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>静态代码检查</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <label>pvscheck_block_num:&nbsp;&nbsp;</label>{{ pvscheck_block_num }}
                    </br>
                    <label>pvscheck_result_link:&nbsp;&nbsp;</label>
                    <a href="{{ pvscheck_result_link }}" target="_blank">{{ pvscheck_result_link }}</a>
                </td>
            </tbody>
        </table>
    {% endifequal %}

</div>
<div name="detail">
<table class = "table table-hover">
<thead>
    <tr>
        <th>Task Detail:</th>
    </tr>
</thead>
<tbody>
    <tr>
    <td>
    Test svn:<br>
    {% for line in task_detail.testsvn %}
        {{ line }}
        {% if not forloop.last %}<br>{% endif %}
    {% endfor %}
    </td>
        <td>
        Base svn:<br>
        {% for line in task_detail.onlinesvn %}
            {{ line }}
            {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
        </td>
    </tr>
    <tr>
    <td colspan="2">
        {{task_detail.newconfip}} {{task_detail.newconfpath}}<br>
        {{task_detail.newdataip}} {{task_detail.newdatapath}}<br>


        
        <br>



    </td>
    </tr>
</tbody>
</table>
</div>
<div name="log">
<table class = "table table-hover">
<thead>
    <tr><th>Log:</th></tr>
</thead>
<tbody>
    <tr><td>
    {% for line in errlog %}
        {{ line }}<br>
    {% endfor %}
    </td></tr>
</div>
</div>

  </body>
</html>
